*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
main{
    width: 2300px;
    height: 2160px;
    background-color: brown;
    margin: auto;
    outline: 3px solid blue;
}
header{
    width: 100%;
    height: 200px;
    background-color: rgba(6, 15, 108, 0.9);
    display: flex;
    align-items: center;

}
header img{
    height: 150px;
    margin-left: 100px;
}
button{
    width: 90px;
    height: 40px;
    border-radius: 10%;
    margin-left: 1000px;
}
button a{
    font-size: 20px;
}

nav{
    width: 2100;
    height: 50px;
    background-color: rgb(20, 20, 145);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}
nav ul li{
    list-style: none;
    padding: 0px 30px;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
nav ul li ul li{
    display: none;
    background-color: rgb(80, 47, 202);
    color: blue;
}
nav ul li a:hover{
    background-color: lightcoral;
}
nav ul li:hover ul li{
    display: flex;
    flex-direction: row;
}
.image{
    background-image: url(/image/GST-gov.jpg);
    height: 450px;
    width: 100%;
    background-color: rgb(248, 235, 212);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: center;
    background-position:top;
}
.image marquee{
    color: red;
    margin-left: 10%;
    margin-top: 410px;
    font-weight: bold;
    font-size: 30px;
}
section{
    height: 900px;
    width: 100%;
    background-color: rgb(251, 246, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news{
    height: 400px;
    width: 1000px;
    background-color: rgb(251, 242, 244);
    margin-top: 30px;
    margin-left: 30px;
    line-height: 45px;
    border-radius: 20px;
}
h2{
    margin-left: 20px;
    color: black;
    background-color: white;
}
.news p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.news p a{
    margin-left: 20px;
    font-size: 25px;
}
.news button{
    margin-left: 880px;
    margin-top: 3%;
    text-decoration:none;
    border: none;
    background-color: rgb(5, 5, 42);
}
.news button a{
    color: white;
    font-weight: bold;
}
.topics{
    height: 400px;
    width: 1000px;
    background-color: rgb(111, 240, 254);
    margin-top: 30px;
    margin-left: 100px;
border-radius: 20px;
}
.ultopics{
    
    list-style: none;
}
.ultopics li a{
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
    display: flex;
    display: inline-block;
    line-height: 50px;
}
.topics h2{
    line-height: 25px;
    font-size: 30px;
    letter-spacing: 1.2;
    padding: 20px;
}
.taxpayers{
    height: 400px;
    width: 1000px;
    background-color: rgb(252, 255, 254);
    margin-top: 30px;
    margin-left: 30px;
}
.TDS{
    background-color: aquamarine;
    height: 80px;
    width: 1000px;
    border-bottom: 2px solid blue;
    margin-top: 15px;
}
.taxpayers{
    font-size: 30px;
    margin-left: 30px;
}
.taxpayers h2{
 font-size: 30px;
 margin-top: 30px;
}
.taxpayers a{
    margin-left: 50px;
}
.taxpayers span{
    font-weight: normal;
}
.Practitioners{
    background-color: aquamarine;
    height: 80px;
    width: 1000px;
    border-bottom: 2px solid blue;
    margin-top: 15px;
}
.Practitioners a{
margin-left: 50px;
}
.TDS{
    display: flex;
    align-items: center;
}
.Practitioners{
    display: flex;
    align-items: center;
}
.dates{
    height: 400px;
    width: 1000px;
    background-color: rgb(235, 207, 224);
    margin-top: 30px;
    margin-left: 100px;
}
.table1{
    
        
        border-collapse: collapse;
        overflow: hidden;
        text-align: center;
        width: 600px;
        height: 150px;
        margin-left: 10px;
        margin-top: 20px;
        
    
}
thead tr:nth-child(odd){
    background-color: rgb(1, 173, 139);
}
thead tr:nth-child(even){
    background-color: gray;
}
.table2{
    
        
    border-collapse: collapse;
    overflow: hidden;
    text-align: center;
    width: 600px;
    height: 150px;
    margin-left: 10px;
    margin-top: 20px;
    

}
thead tr:nth-child(odd){
background-color: rgb(1, 173, 139);
}
thead tr:nth-child(even){
background-color: gray;
}
span{
    margin-left: 100px;
    color: rgb(5, 235, 40);
    text-transform: capitalize;
    font-weight: bold;
}
.footer ul li{
    list-style: none;
}
.footer ul li  {
    text-decoration: none;
    line-height: 40px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 20px;
    background-color: rgba(3, 3, 226, 0.805) ;
    height: 400px;
    width: 2260px;
    
}
.footer ul{
    margin-left: 120px;
    text-transform: capitalize;
}
.footer ul li{
    list-style: none;
    color: white;
}
.footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.heading{
    color: rgb(66, 204, 251);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.copyright{
    background-color: rgb(42, 42, 239) ;
    height: 50px;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.view{
    height: 50px;
    background-color: rgb(3,3,226,.75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}